@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* V_C-GTP */
/* Box sizing border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
}

/* Remove default padding */
body,
ol,
ul {
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ol,
ul {
  list-style: none;
}

/* Set default font family and font size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Set a more appropriate default for hr element */
hr {
  height: 1px;
  border: none;
  background-color: #ccc;
  margin: 20px 0;
}

/* Remove default outline on focused elements */
:focus {
  outline: none;
}

/* Remove default border-radius for input type="number" in Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Reset anchor styles */
a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  background-image: url(/asset/inge.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  color: #fff;
  background-color: #257a99;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

header a {
  margin: 0.3rem;
  text-decoration: none;
  color: #fff;
}

header ul {
  margin-right: 1rem;
}

header ul li {
  display: inline;
  margin-left: 10px;
}

/* Section dépliante de services */
.objet {
  position: relative;
}

.section-cachee {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #727272;
  padding: 1rem;
  width: 10rem;
  z-index: 1;
}

.section-cachee ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-cachee ul li {
  margin: 0;
  padding: 0;
}

.objet:hover .section-cachee {
  display: block;
}

/* section principal */
main {
  color: #000;
  backdrop-filter: blur(10px);
}

.title {
  padding: 5rem 0rem 0rem 0rem;
}
h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.img-conception {
  width: 45%;
  align-items: center;
  max-width: 50rem;
  border: solid 1px rgb(165, 165, 165);
}

.img-contener {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

section {
  background-color: #ccc;
  display: flex;
  margin-bottom: 20rem;
}

.div-p1 {
  border-right: solid 1px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 50%;
}

.div-p2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 50%;
}
section h3 {
  font-size: 2rem;
  margin: 0rem 7rem 1rem 7rem;
}

section p {
  text-align: justify;
  margin: 0rem 7rem 0rem 7rem;
}

/* reglage footer */
footer {
  border-top: 1px solid #fff;
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

footer p {
  color: #fff;
  font-size: 1.4rem;
}
