@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
/* rest */
/* V_C-GTP */
/* Box sizing border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
}

/* Remove default padding */
body,
ol,
ul {
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ol,
ul {
  list-style: none;
}

/* Set default font family and font size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Set a more appropriate default for hr element */
hr {
  height: 1px;
  border: none;
  background-color: #ccc;
  margin: 20px 0;
}

/* Remove default outline on focused elements */
:focus {
  outline: none;
}

/* Remove default border-radius for input type="number" in Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Reset anchor styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Theme */
html {
  background-color: rgb(255, 255, 255);
  background-image: url("../asset/inge.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  backdrop-filter: blur(10px);
}

header {
  font-size: 100%;
  color: #fff;
  background-color: #257a99;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

header a {
  margin: 0.2%;
}

header ul {
  margin-right: 1%;
}

header ul li {
  display: inline;
  margin-left: 2%;
}

ul li:hover {
  color: rgb(39, 51, 163);
  transition: color 0.5s;
}

/* Section dépliante de services */
.objet {
  position: relative;
  cursor: pointer;
}

.section-cachee {
  color: #fff;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #727272;
  padding: 1%;
  width: 170%;
  z-index: 1;
  margin-bottom: 1rem;
  text-align: center;
}

.section-cachee ul {
  margin: 5% 0% 5% 0%;
}

.objet:hover .section-cachee {
  display: block;
}

.section-cachee ul li:hover {
  color: rgb(39, 51, 163);
}

/* MAIN */
img {
  display: flex;
  width: 100%;
}

.intro {
  padding: 1em;
  border-bottom: solid 1px #fff;
}

section {
  margin: auto;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

section div {
  flex-basis: 40%;
  margin-left: 2em;
  margin-right: 2em;
}
section p {
  margin-bottom: 1em;
}

section h3 {
  margin-bottom: 5px;
}

.outro {
  margin: 5em;
}

/* FOOTER */
footer {
  border-top: 1px solid #fff;
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

footer p {
  color: #fff;
  font-size: 1.4rem;
}