@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&display=swap');
/* rest */
/* V_C-GTP */
/* Box sizing border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
}

/* Remove default padding */
body,
ol,
ul {
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ol,
ul {
  list-style: none;
}

/* Set default font family and font size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Set a more appropriate default for hr element */
hr {
  height: 1px;
  border: none;
  background-color: #ccc;
  margin: 20px 0;
}

/* Remove default outline on focused elements */
:focus {
  outline: none;
}

/* Remove default border-radius for input type="number" in Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Reset anchor styles */
a {
  color: inherit;
  text-decoration: none;
}

/* TOP MENU */
header {
  font-size: clamp(16px, 1vw, 1000px);
  color: #000000;
  background-color: #ffffff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

header a {
  margin: 0.2%;
}

header ul {
  margin-right: 1%;
}

header ul li {
  display: inline;
  margin-left: 2%;
}

ul li:hover {
  color: rgb(39, 51, 163);
  transition: color 0.5s;
}
li:hover ul {
  display: block;
}
/* HIDEN SECTION */
/* .objet {
  position: relative;
  cursor: pointer;
}

.section-cachee {
  color: #fff;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #727272;
  padding: 1%;
  width: 170%;
  z-index: 1;
  margin-bottom: 1rem;
  text-align: center;
}

.section-cachee ul {
  margin: 5% 0% 5% 0%;
}

.objet:hover .section-cachee {
  display: block;
}

.section-cachee ul li:hover {
  color: rgb(39, 51, 163);
}  */
.hidden {
  color: #000;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 1%;
  width: 170%;
  z-index: 1;
  margin-bottom: 1rem;
  text-align: center;
}

ul {
  display: none;
}

.arrow {
  font-size: 2vw;
  padding: 0vw 2vw 0vw 1vw;
  cursor: pointer;
}


/* 3 MAIN PART */
.main-part {
  font-family: 'Martian Mono', monospace;
  display: flex;
  color: #fff;
}

.main-part {
  position: relative;
  background: linear-gradient(to top, rgb(0, 0, 0), transparent 90%); /* Dégradé d'ombre */
}

.main-part h2,
.main-part h3 {
  position: absolute;
  z-index: 2;
}

.main-part h2 {
  margin-left: 1vw;
  bottom: 8vw;
}

.main-part h3 {
  margin-left: 1vw;
  bottom: 6.5vw;
}

.main-part div {
  height: 90vh;
}

#conception,
#solution,
#fabrication {
  width: 35%;
}

/* COLOR DIV */
#conception {
  background-color: #0078D7;
}

#solution {
  background-color: #6BBF59;
}

#fabrication {
  background-color: #757575;
}

/* IMG CENTER */
#conception img,
#solution img,
#fabrication img {
  display: flex;
  max-width: 60%;
  transform: scale(1);
  margin: 0 auto;
  padding-top: 20vh;
  padding-bottom: 2.5vh;
  transition: transform 1s;
}

/* TXT STYLE & POSITION */
h2, h3 {
  margin-left: 3vw;
}

h2 {
  font-size: clamp(27px, 2vw, 1000px);
  transition: font-size 1s;
}

h3 {
  font-size: clamp(20px, 1vw, 1000px);
  transition: font-size 1s;
}

/* HOVER */
.hover-effect:hover h2 {
  font-size: 2.9em;
  transition: font-size 1s;
}

.hover-effect:hover h3 {
  margin-top: 3.5vw;
  transition: margin-top 1s;
}

#conception:hover img,
#solution:hover img,
#fabrication:hover img {
  transform: scale(1.15);
  transition: transform 1.5s;
}

/* FOOTER */
footer {
  border-top: 1px solid #fff;
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

footer p {
  color: #fff;
  font-size: 1.4rem;
}


/* Add a CSS media query for smaller screens */
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header p {
    margin-top: 1rem;
    text-align: center;
  }

  header nav {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  header ul {
    margin-right: 0;
  }

  header ul li {
    display: block;
    margin: 0.5rem 0;
    text-align: center;
  }

  .section-cachee {
    top: auto;
    bottom: 100%;
    left: -1rem;
    width: auto;
  }

  .middle_part {
    flex-direction: column;
  }

  .pmiddle {
    border: none;
  }

  footer p {
    padding: 1rem;
  }
}
